body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

div {
  font-size: 1em;
  display: inline-block;
}

input[type="date"] {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}
input[type="date"]:focus {
  color: #aaa;
}
input[type="date"]:valid {
    color: #000000;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}

.menu {
  border-radius: 5px;
  padding: 8px 20px 8px 20px;
  background-color: #F0F0F050;
  box-shadow: 0px;
  border-width: 0;

  font-size: 0.9em;

  margin: auto;
  margin-top: 10px;
  align-content: center;

  cursor: pointer;
}

.menu:hover {
  background-color: #F0F0F0;
}

a {
  color: #FFFFFF
}

footer {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 0.9em;
  font-family: "Roboto",sans-serif;

  line-height: 1.5em;
}

table, th, td {
  border: 1px solid #636363;
  padding: 10px;
}

th {
  background-color: #FFC500;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  margin: auto;
  font-size:0.9em;
}

cap {
  padding-left: 50px;
}

p1{
  font-weight: 700;
  line-height: 1.1em;
}

p2 {
  font-weight: 300;
  line-height: 1.1em;
}

p3 {

}

f1 {
  font-weight: 700;
}

f2 {
  font-weight: 500;
}

error {
  border-radius: 5px;
  width: 300px;
  height: 20px;
  padding: 10px;
  background-color: #D01700aa;
  color: #FFFFFF;

  font-size: 0.9em;
  border-width: 0.5px;
  border-color: #909090;


}

.input {
  border-radius: 5px;
  padding: 10px;
  border-width: 0.5px;
  border-color: #909090;
}

.input1 {
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 1em;

  width: 200px;
  height: 40px;
}

.input2 {
  margin: 8px;
  font-size: 0.8em;

  width: 175px;
  height: 35px;
}

.input2:invalid {
  border-width: 2px;
  border-color: #FF0000;
}

.form {
  border-radius: 5px;
  width: 300px;
  height: auto;
  padding: 30px;
  background: linear-gradient(0deg,#E0E0E0 0%, #F5F5F5 100%);

  font-size: 1em;
  border-width: 0.5px;
  border-color: #909090;

  margin: auto;
  margin-top: 50px;
  align-content: center;
}

.form1 {
  width: 300px;
}
.form2 {
  width: 80%;
}


.button {
  border-radius: 5px;

  text-align: center;
  font-weight: 700;

  cursor: pointer;
}

.button1 {
  width: 200px;
  height: 50px;
  background-color: #007cff;
  font-size: 1em;
  color: #ffffff;
}

.button2-submit {
  width: 150px;
  height:40px;
  background-color: #007cff;
  font-size: 0.8em;
  color: #ffffff;
}

.button2-submit:hover {
  background-color: #00549a;
  transition: 0.15s;
}

.button2-addnew {
  width: 150px;
  height:40px;
  background-color: #039f00;
  font-size: 0.8em;
  color: #ffffff;
}

.button2-addnew:hover {
  background-color: #025a1d;
  transition: 0.15s;
}
